.dropdown-menu {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-right: 50px;
  
}
 .dropdown-menu li {
     font-style: italic;
     font-size: 20px;
     color: white;
    width:400px;
 }

 .dropdown-menu {
     margin-top: 100px;
     margin-right: 170px;
    
 }

 
.dropdown-toggle{
    margin-top: 90px;
    border-color: #FC0FC0;
    background-color: #FC0FC0;
    border-bottom-width: 4px;
    border: 3px solid #0A6522;
    font-weight: bold;
    width: 100px;
    height:40px;
    font-size: large;
    margin-left: 60px;
    border-radius: 50px;
    color: #FC0FC0;
    background-color: white;
}


.dropdown{
    display: flex;
    float: right;
    margin-right: 170px;
    font-weight: bolder;
}

 

.dropdown-menu.visible {
  opacity: 1;
 
}

.image-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
        align-items: center;
   
         
            /* add this line */
}

.image-container img {
    max-width: 100%;
        height: auto;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 380px;
        margin-bottom: 90px;
}