.dynamicsPage{
    background: #FC0FC0;   
    border: 10px solid #0A6522;
    box-sizing: border-box;
    height: 150vh;
    width: 100%;
}

.factors{
        font-size: 20px;
            color: white;
            margin-left: 90px;
            font-style: italic;
            font-weight: bold;
        
}